* {
    margin: 0;
    padding: 0;
}
.container {
   height: 100vh;
   color: white;
    /*background-image: linear-gradient(45deg,black,purple);*/
    background-image: url(tenor11.gif);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}
.corpo {
    position: absolute;
    background: black;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 15px;
    border: 5px solid white;
    background-color: rgb(0,0,0,0.1 alpha);
    padding: 15px;
}
button {
    width: 50px;
    height: 50px;
    font-size: 25px;
    margin: 3px;
    cursor: pointer;
    background-color: rgb(31,31,31);
    color: white;
    border: none;
}
button:hover {
    background-color: black;
}

#resultado{
    background-image: url(tenord.gif);
    width: 214px;
    margin: 5px;
    height:40px;
    background-color: white;
    font-size: 25px;
    color: black;
    text-align: right;
    padding: 5px;
}
